/* FONTS */
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}


@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;

}


@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;

}


@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

* {
  box-sizing: border-box;
}


/* BODY */
body {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.container  {
  width: 1920px;
}

a {
  text-decoration: none;
}

/* HEADER */
.header {
  width: 1920px;
  height: 100px;

  background-color: #000;
}

.header-container {
  display: flex;
}

.header-logo {
  margin-left: 160px;
  margin-top: 30px;
  width: 173px;
  height: 40px;
  background: url(../img/header/headerlogo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header-inside {
  margin-left: 279px;
  margin-top: 37px;
}

.burger {
  display: none;
}

.search {
  display: none;
}

/* BURGER-MENU */
.nav-menu {
  position: absolute;
  z-index: 10;
  width: 320px;
  height: 350px;
  top: 100px;
  left: 0;
  bottom: 0;
  background-color: #000;
  border-radius: 0 0 20px 0;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-101%);
}

.nav-list-menu {
  list-style-type: none;
}

.header-inside-menu {
  padding-left: 40px;
}


/* HEADER-LINK */
.link-inside {
  padding-left: 25px;
  padding-right: 5px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background-image: url(../img/header/insidelogo.svg);
  background-position: 4.5px;
  background-size: 13px 13px;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.link-inside:focus {
  outline: 2px solid #7943A4;
}

.link-inside:hover {
  color: #C283F3;
  background: url(../img/header/vectorhover.svg);
  background-position: left;
  background-size: 17px 13px;
  background-repeat: no-repeat;
}

.link-inside:active {
  outline: none;
  color: #7943A4;
  background: url(../img/header/vectoractive.svg);
  background-position: left;
  background-size: 17px 13px;
  background-repeat: no-repeat;
}


/* NAVIGATION */
.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 167px;
  margin-top: 37px;
  list-style-type: none;
}


.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  padding-left: 6px;
  padding-right: 6px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #FFFFFF;
}

.nav-link:focus {
  outline: 2px solid #7943A4;
}

.nav-link:hover {
  color: #C283F3;
}

.nav-link:active {
  color: #7943A4;
  outline: none;
}

/* HERO! */
.hero-container {
  height: 700px;
}

.styles {
  display: flex;
  height: 70px;
  background: rgba(0, 0, 0, 0.4);
}

/* DROPDOWN */
.submenu {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50px;
  padding: 40px;
  z-index: 5;
  opacity: 0;
  overflow: scroll;
  text-align: left;
  transform: scaleY(0);
  transform-origin :0 0;
  transition: .5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
  list-style-type: none;
}

.styles-list > .styles-item:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.submenu-item {
  height: 40px;
  padding-top: 9px;
  padding-left: 10px;
  padding-right: auto;
  /* padding-bottom: 12px; */
  background-image: url(../img/hero/heropreview2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.submenu-item:not(:last-child) {
  margin-bottom: 20px;
}

.submenu-item:hover {
  outline: 2px solid #9D5CD0;
}

.submenu-item:active {
  outline: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/hero/heropreview2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.submenu-link {
  padding-top: 10px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */


  color: #FFFFFF;
}



.styles-link {
  margin-bottom: 0;
  padding-right: 17px;
  line-height: 25px;
  cursor: pointer;
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #FFFFFF;
  background-image: url(../img/hero/selectnone.svg);
  background-position: 100% 70%;
  background-repeat: no-repeat;
}

.styles-link:hover {
  color: #7943A4;
  background-image: url(../img/hero/selectdone.svg);
  background-position: 100% 100%;
}


.styles-list {
  display: flex;
  margin-top: 0;
  margin-left: 155px;
  padding-top: 23px;
  padding-left: 0;
  list-style-type: none;
}

.styles-item {
  position: relative;
  margin-right: 97px;
}


.hero-search {
  margin-left: 218px;
  margin-top: 20px;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.simplebar-track {
  margin-top: 40px;
  right: 19px;
  /* top: 40px; */
  bottom: 40px;
  background-color: #000;
}

.simplebar-scrollbar {
  max-height: 28px;
  background-color: #9D5CD0;
}

.hero-search-input {
  outline: none;
  padding-left: 34px;
  width: 267px;
  height: 38px;
  border: none;
  background: none;
  background-image: url(../img/hero/fullsearch.svg);
  background-position: left 40%;
  background-repeat: no-repeat;
  caret-color: #C283F3;
}

.hero-search-input:focus {
  background-image: url(../img/hero/fullsearchactive.svg);
}

.hero-search-input:hover {
  cursor: pointer;
  background-image: url(../img/hero/fullsearchhover.svg);
}

.hero-search-input:active {
  background-image: url(../img/hero/fullsearchactive.svg);
}

/* Placeholders */
::-webkit-input-placeholder { /* WebKit browsers */
  /* padding-left: 24px; */
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.85);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  /* padding-left: 24px; */
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.85);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  /* padding-left: 24px; */
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.85);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  /* padding-left: 24px; */
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.85);
}

:focus::-webkit-input-placeholder {
  color: transparent
}

:focus::-moz-placeholder {
  color: transparent
}

:focus:-moz-placeholder {
  color: transparent
}

:focus:-ms-input-placeholder {
  color: transparent
}


.hero-header {
  margin-top: 63px;
  margin-left: 160px;
  margin-bottom: 0;
  width: 597px;
  height: 192px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;

  color: #FFFFFF;
}

.hero-text {
  margin-top: 25px;
  margin-left: 160px;
  margin-bottom: 0;
  width: 579px;
  height: 90px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  color: #FFFFFF;
}

.hero-button {
  margin-top: 92px;
  margin-left: 160px;
  width: 314px;
  height: 70px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  outline: none;
  text-align: center;
  border: none;
  border-radius: 100px;
  background-color: #9D5CD0;
  color: #FFFFFF;
}

.hero-button:hover {
  border: 3px solid #D1A9F0;
}

.hero-button:focus {
  border: 3px solid #7943A4
}

.hero-button:active {
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

@keyframes anim {
  0% {
    background-image: url(../img/hero/heropreview1.jpg);
  }
  50% {
    background-image: url(../img/hero/heropreview2.jpg);
  }

  100% {
    background-image: url(../img/hero/heropreview3.jpg);
  }
}

.hero-container {
  background-position: center;
  background-size: cover;
  animation: anim 10s alternate linear infinite;
}

/* ABOUT US */
.about-us-container {
  margin-top: 80px;
  margin-left: 157px;
  margin-bottom: 80px;
  width: 1082px;
}

.about-us-header {
  margin-bottom: 30px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;

  color: #333333;
}

.about-us-text {
  margin-top: 0;
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;


  color: #333333;
}


/* GALLERY */
.gallery-container {
  display: flex;
  width: 1920px;
  height: 995px;
  background-image: url(../img/gallery/galleryback.jpg);
  background-size: contain;
}


.gallery-header {
  display: inline-block;
  margin-top: 80px;
  margin-left: 157px;
  margin-bottom: 0;
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;

  color: #FFFFFF;
}

.gallery-filter {
  margin-left: 160px;
  margin-top: 30px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */


  color: #FFFFFF;
}

.note-text {
  width: 401px;
  margin-left: 159px;
  margin-top: 554px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */


  color: #FFFFFF;
}

.note-link {
  color: #9D5CD0;
}


.choices {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 160px;
  width: 400px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.choices[data-type*='select-one']:after {
  content: url(../img/hero/selectnone.svg);
  border: none;
  top: 12px;
  right: 25px;

}

.choices[data-type*='select-one'] .choices__inner {
  padding-top: 0;
  padding-left: 15px;
}


.choices__inner {
  width: auto;
  height: 40px;
  border: 0;
  /* border-radius: 2.5px; */
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */


  background: none;
  color: #FFFFFF;
}

.choices__list--dropdown {
  width: 400px;
  background: none;
  border: 1px solid #999999;
  border-radius: 6px;
  transform: translateX(-1px);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #fff;
  color: #000;
}

.choices__list--dropdown .choices__item {
  height: 40px;
  padding: 0;
  padding-top: 2px;
  padding-left: 30px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */


  color: #999999;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;;
}

.gallery-right {
  margin-left: 50px;
}

.image-list {
  display: flex;
  margin-left: 0;
  padding-left: 0;
  margin-top: 30px;
  flex-wrap: wrap;
  list-style-type: none;
}

.image-item {
  width: 350px;
  height: 350px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-size: 350px 350px;
}

.gallery1920 {
  display: block;
}

.gallery1024  {
  display: none;
}

.gallery320 {
  display: none;
}

.slide-one {
  background-image: url(../img/gallery/gallery1.jpg);
  background-repeat: no-repeat;
}

.slide-two {
  background-image: url(../img/gallery/gallery2.jpg);
  background-repeat: no-repeat;
}

.slide-three {
  background-image: url(../img/gallery/gallery3.jpg);
  background-repeat: no-repeat;
}

.slide-four {
  background-image: url(../img/gallery/gallery4.jpg);
  background-repeat: no-repeat;
}

.slide-five {
  background-image: url(../img/gallery/gallery5.jpg);
  background-repeat: no-repeat;
}

.slide-six {
  background-image: url(../img/gallery/gallery6.jpg);
  background-repeat: no-repeat;
}

.slide-seven {
  background-image: url(../img/gallery/gallery21.jpg);
  background-repeat: no-repeat;
}

.slide-eight {
  background-image: url(../img/gallery/gallery22.jpg);
  background-repeat: no-repeat;
}

.slide-nine {
  background-image: url(../img/gallery/gallery23.jpg);
  background-repeat: no-repeat;
}

.slide-ten {
  background-image: url(../img/gallery/gallery24.jpg);
  background-repeat: no-repeat;
}

.slide-eleven {
  background-image: url(../img/gallery/gallery25.jpg);
  background-repeat: no-repeat;
}

.slide-twelve {
  background-image: url(../img/gallery/gallery26.jpg);
  background-repeat: no-repeat;
}

.slide-thirteen {
  background-image: url(../img/gallery/gallery31.jpg);
  background-repeat: no-repeat;
}

.slide-fourteen {
  background-image: url(../img/gallery/gallery32.jpg);
  background-repeat: no-repeat;
}

.slide-fiveteen {
  background-image: url(../img/gallery/gallery33.jpg);
  background-repeat: no-repeat;
}

.slide-sixteen {
  background-image: url(../img/gallery/gallery34.jpg);
  background-repeat: no-repeat;
}

.slide-seventeen {
  background-image: url(../img/gallery/gallery35.jpg);
  background-repeat: no-repeat;
}

.slide-eighteen {
  background-image: url(../img/gallery/gallery36.jpg);
  background-repeat: no-repeat;
}

.swiper-slide {
  height: 800px;
}

.swiper-pagination {
  position: relative;
  margin-left: 55px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 105px;
  text-align: left;
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  letter-spacing: 2px;

  color: #FFFFFF;

}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: url(../img/gallery/swiperback.svg);
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: url(../img/gallery/swipernext.svg);
}


.swiper-button-prev {
  top: 105px;
  width: calc(var(--swiper-navigation-size)/ 44 * 30);
  height: calc(var(--swiper-navigation-size)/ 44 * 30);
  margin-top: 0;
}

.swiper-button-next {
  top: 105px;
  left: 110px;
  width: calc(var(--swiper-navigation-size)/ 44 * 30);
  height: calc(var(--swiper-navigation-size)/ 44 * 30);
  margin-top: 0;
}


/* MEDIA 1024!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 1024px) {
  .container {
    width: 1024px;
  }

  .header {
    width: 1024px;
  }

  .nav-container {
    display: none;
  }

  .header-inside {
    display: none;
  }

  .header-logo {
    margin-left: 332px;
    margin-top: 29px;
    width: 187.6px;
    height: 42px;
  }

  .burger {
    display: block;
    margin-left: 50px;
    margin-top: 36.7px;
    width: 36px;
    height: 28px;
    background-image: url(../img/header/Burger.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .search {
    display: block;
    margin-top: 36.18px;
    margin-left: 340px;
    width: 29.45px;
    height: 28.82px;
    background-image: url(../img/header/Search.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }


  .nav-menu.is-active {
    transform: none;
  }

  .nav-item-menu {
    margin-top: 15px;
  }

  /* HERO 1024px */
  .hero-container {
    height: 668px;
    background-image: url(../img/hero/heropreview2-1024.jpg);
  }

  .styles {
    display: none;
  }

  .hero-header {
    margin-top: 0;
    margin-left: 44px;
    padding-top: 105px;
    width: 585px;
    height: 184px;
  }

  .hero-text {
    margin-left: 49px;
    width: 661px;
    height: 86px;
  }

  .hero-button {
    margin-top: 107.68px;
    margin-left: 50px;
  }


  /* ABOUT US 1024 */
  .about-us-container {
    margin-left: 47px;
    width: 927px;
  }

  /* GALLERY 1024 */
  .gallery-container {
    width: 1024px;
    height: 839px;
    background-image: url(../img/gallery/galleryback1024.jpg);
  }


  .gallery-header {
    margin-left: 47px;
  }

  .gallery-filter {
    margin-left: 50px;
  }

  .gallery1024 {
    display: block;
  }

  .gallery1920  {
    display: none;
  }

  .note-text {
    margin-top: 336px;
    margin-left: 49px;
    width: 284px;
  }

  .choices {
    margin-left: 50px;
    width: 280px;
  }

  .choices__list--dropdown {
    width: 280px;
  }


  .image-item {
    width: 280px;
    height: 280px;
    margin-right: 34px;
    margin-bottom: 34px;
    background-size: 280px 280px;
  }

  .swiper-slide {
    height: 628px;
  }

}


/* MEDIA 768!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 768px) {
  .container {
    width: 768px;
  }

  .header {
    width: 768px;
  }

  .nav-container {
    display: none;
  }

  .header-inside {
    display: none;
  }

  .header-logo {
    margin-left: 204px;
    margin-top: 29px;
    width: 187.6px;
    height: 42px;
  }

  .search {
    margin-left: 211.4px;
  }
  /* HERO 768px */
  .hero-container {
    height: 668px;
    background-image: url(../img/hero/heropreview2-768.jpg);
  }



  /* ABOUT US 768px */
  .about-us-container {
    margin-left: 50px;
    width: 668px;
  }

  /* GALLERY 768 */
  .gallery-container {
    position: relative;
    display: inline-block;
    width: 768px;
    height: 1169px;
    background-image: url(../img/gallery/galleryback768.jpg);
  }

  .note-text {
    position: absolute;
    bottom: 30px;
    margin-left: 50px;
    width: 668px;
  }


  .image-item {
    width: 317px;
    background-size: 317px 280px;
  }

}
/* MEDIA 320!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 320px) {
  .container {
    width: 320px;
  }

  .header {
    width: 320px;
    height: 45px;
  }

  .nav-container {
    display: none;
  }

  .header-inside {
    display: none;
  }

  .header-logo {
    margin-left: 77px;
    margin-top: 12px;
    width: 97px;
    height: 22px;
  }

  .burger {
    margin-top: 15px;
    margin-left: 15px;
    width: 20px;
    height: 15px;
  }

  .search {
    margin-top: 15px;
    margin-left: 80px;
    width: 16px;
    height: 16px;
  }

  /* BURGER-MENU-320px */
  .nav-menu {
    top: 45px;
    border-radius: 0;
    text-align: center;
  }

  .nav-list-menu {
    padding-left: 0;
  }


  .header-inside-menu {
    padding-left: 0;
  }

  /* HERO 320px */
  .hero-container {
    height: 310px;
    /* background-image: url(../img/hero/heropreview2mobil.jpg); */
  }

  .hero-header {
    margin-top: 0px;
    margin-left: 31px;
    padding-top: 30px;
    width: 258px;
    height: 73px;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }

  .hero-text {
    margin-top: 26px;
    margin-left: 29px;
    width: 265px;
    height: 86px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .hero-button {
    margin-top: 20px;
    margin-left: 60px;
    width: 200px;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
  }


  /* ABOUT US 320 */
  .about-us-container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 14px;
    width: 292px;
  }

  .about-us-header {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 38px;
  }

  .about-us-text {
    font-size: 14px;
    line-height: 28px;
  }

  /* GALLERY 320 */
  .gallery-container {
    width: 320px;
    height: 962px;
    background-image: url(../img/gallery/galleryback320.jpg);
  }

  .gallery-header {
    margin-top: 50px;
    margin-left: 13px;
    font-size: 28px;
    line-height: 38px;
  }

  .gallery-filter {
    margin-left: 15px;
    margin-top: 20px;
  }

  .note-text {
    margin-left: 15px;
    width: 290px;
  }


  .choices {
    margin-top: 15px;
    margin-left: 15px;
    width: 290px;
  }

  .choices__list--dropdown {
    width: 290px;
  }

  .swiper-pagination {
    position: absolute;
    top: 410px;
    left: 121px;
    margin: 0;
    width: 90px;
    height: 30px;
    letter-spacing: 0px;
  }

  .swiper-button-prev {
    top: 410px;
    left: 80px;
  }

  .swiper-button-next {
    top: 410px;
    left: 180px;
  }

  .gallery-right  {
    height: 450px;
    margin-left: 15px;
    margin-top: 100px;
  }

  .gallery1024 {
    display: none;
  }

  .gallery320 {
    display: block;
  }

  .image-item {
    width: 290px;
    height: 367px;
    margin-bottom: 0;
    margin-right: 0;
    background-size: 290px 367px;
  }


}
