/* FONTS */
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}


@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;

}


@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;

}


@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
       url('../fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

* {
  box-sizing: border-box;
}

html {
  font-family: 'opensans', sans-serif;
}

.container  {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  display: none;
}

:hover {
  transition: all .3s ease-in-out;
}


/* HEADER */
.header-top {
  background: #000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 28px;
}

.burger {
  display: none;
}

.logo-img {
  width: 173px;
  height: 40px;
}

.search {
  display: none;
}

/* NAVIGATION FOR DESKTOP */
.nav {
  display: flex;
}

.nav-list {
  display: flex;
  margin-right: 279px;
}

.nav-item:not(:last-child) {
  margin-right: 62px;
}

.nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #FFFFFF;
}

.nav-link:focus {
  border: 2px solid #7943A4;
}

.nav-link:hover {
  color: #C283F3;
}

.nav-link:active {
  color: #7943A4;
  border: none;
}
/* NAVIGATION CLOSE */

.link-inside {
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  background-image: url(../img/header/insidelogo.svg);
  background-position: left 7px;
  background-size: 13px 13px;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.link-inside:focus {
  border: 2px solid #7943A4;
}

.link-inside:hover {
  color: #C283F3;
  background: url(../img/header/vectorhover.svg);
  background-position: left 7px;
  background-size: 17px 13px;
  background-repeat: no-repeat;
}

.link-inside:active {
  border: none;
  color: #7943A4;
  background: url(../img/header/vectoractive.svg);
  background-position: left 7px;
  background-size: 17px 13px;
  background-repeat: no-repeat;
}

.search-form {
  display: none;
}

.search-form-block {
  display: none;
}

.search-form-input {
  margin-right: 10px;
  padding-bottom: 3px;
  width: 180px;
  height: 25px;
  border: 1px solid #7943A4;
  background-color: rgba(194, 131, 243, 0.4);
}

.search-form-btn {
  padding: 5px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  border: none;
  border-radius: 100px;
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.header-bottom {
  background: rgba(0, 0, 0, 0.4);
}

.header-art-block {
  padding-left: 8px;
  padding-top: 20px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-art-list {
  display: flex;
}

.header-art-item:not(:last-child) {
  margin-right: 92px;
}

.header-art-btn {
  padding-right: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: none;
  background: url(../img/hero/selectnone.svg) no-repeat right 60%;
  color: #FFFFFF;
}

.header-art-btn:hover {
  background: url(../img/hero/selectnonehover.svg) no-repeat right 50%;
  color: #9D5CD0;
}

.header-art-btn:active {
  background: url(../img/hero/selectdone.svg) no-repeat right 70%;
  color: #7943A4;
}

.header-art-btn:focus {
  outline: 2px solid #7943A4;;
}

.header-art-form {
  display: flex;
  align-items: center;
}

.header-art-search-btn {
  order: 20;
  margin-top: 6px;
  margin-right: 11px;
  width: 22px;
  height: 22px;
  border: none;
  background: url(../img/header/searchbtn.svg) no-repeat;
}

.header-art-search-input {
  order: 100;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 0;
  padding-right: 49px;
  padding-bottom: 2px;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  caret-color: #C283F3;
  color: #ffffff;
}

.header-art-form:hover .header-art-search-btn {
  background: url(../img/header/searchbtnhover.svg) no-repeat;
}

.header-art-form:hover .header-art-search-input {
  border-bottom: 1px solid #C283F3;
}

.header-art-search-input:focus + .header-art-search-btn {
  background: url(../img/header/searchbtnhover.svg) no-repeat;
}

.header-art-search-btn:focus {
  outline: 2px solid #7943A4;
}

/* HEADER ART SIMPLEBAR */
.header-art-menu-block {
  padding: 40px 20px 40px 40px;
  position: absolute;
  top: 170px;
  z-index: 5;
  opacity: 0;
  transform: scaleY(0);
  transform-origin :0 0;
  transition: .5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-art-is-open {
  opacity: 1;
  transform: scaleY(1);
}

.header-art-menu-list {
  overflow: scroll;
}

.header-art-menu-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #FFFFFF;
}

.header-art-menu-item {
  width: 220px;
  cursor: pointer;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 12px;
}
/* HEADER ART AUTHORS */
.header-art-menu-real-one {
  background: url(../img/header/realone.jpg);
  background-size: cover;
}

.header-art-menu-real-two {
  background: url(../img/header/realtwo.jpg);
  background-size: cover;
}

.header-art-menu-real-three {
  background: url(../img/header/realthree.jpg);
  background-size: cover;
}

.header-art-menu-real-four {
  background: url(../img/header/realfour.jpg);
  background-size: cover;
}

.header-art-menu-impress-one {
  background: url(../img/header/impresone.jpg);
  background-size: cover;
}

.header-art-menu-impress-two {
  background: url(../img/header/imprestwo.jpg);
  background-size: cover;
}

.header-art-menu-impress-three {
  background: url(../img/header/impresthree.jpg);
  background-size: cover;
}

.header-art-menu-impress-four {
  background: url(../img/header/impresfour.jpg);
  background-size: cover;
}

.header-art-menu-postimpress-one {
  background: url(../img/header/postimpresone.jpg);
  background-size: cover;
}

.header-art-menu-postimpress-two {
  background: url(../img/header/postimprestwo.jpg);
  background-size: cover;
}

.header-art-menu-postimpress-three {
  background: url(../img/header/postimpresthree.jpg);
  background-size: cover;
}

.header-art-menu-postimpress-four {
  background: url(../img/header/postimpresfour.jpg);
  background-size: cover;
}

.header-art-menu-avang-one {
  background: url(../img/header/avangone.jpg);
  background-size: cover;
}

.header-art-menu-avang-two {
  background: url(../img/header/avangtwo.jpg);
  background-size: cover;
}

.header-art-menu-avang-three {
  background: url(../img/header/avangthree.jpg);
  background-size: cover;
}

.header-art-menu-avang-four {
  background: url(../img/header/avangfour.jpg);
  background-size: cover;
}

.header-art-menu-future-one {
  background: url(../img/header/futureone.jpg);
  background-size: cover;
}

.header-art-menu-future-two {
  background: url(../img/header/futuretwo.jpg);
  background-size: cover;
}

.header-art-menu-future-three {
  background: url(../img/header/futurethree.jpg);
  background-size: cover;
}

.header-art-menu-future-four {
  background: url(../img/header/futurefour.jpg);
  background-size: cover;
}

.header-art-menu-real-one:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/realone.jpg);
  background-size: cover;
}

.header-art-menu-real-two:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/realtwo.jpg);
  background-size: cover;
}

.header-art-menu-real-three:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/realthree.jpg);
  background-size: cover;
}

.header-art-menu-real-four:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/realfour.jpg);
  background-size: cover;
}

.header-art-menu-impress-one:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/impresone.jpg);
  background-size: cover;
}

.header-art-menu-impress-two:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/imprestwo.jpg);
  background-size: cover;
}

.header-art-menu-impress-three:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/impresthree.jpg);
  background-size: cover;
}

.header-art-menu-impress-four:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/impresfour.jpg);
  background-size: cover;
}

.header-art-menu-postimpress-one:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/postimpresone.jpg);
  background-size: cover;
}

.header-art-menu-postimpress-two:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/postimprestwo.jpg);
  background-size: cover;
}

.header-art-menu-postimpress-three:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/postimpresthree.jpg);
  background-size: cover;
}

.header-art-menu-postimpress-four:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/postimpresfour.jpg);
  background-size: cover;
}

.header-art-menu-avang-one:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/avangone.jpg);
  background-size: cover;
}

.header-art-menu-avang-two:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/avangtwo.jpg);
  background-size: cover;
}

.header-art-menu-avang-three:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/avangthree.jpg);
  background-size: cover;
}

.header-art-menu-avang-four:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/avangfour.jpg);
  background-size: cover;
}

.header-art-menu-future-one:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/futureone.jpg);
  background-size: cover;
}

.header-art-menu-future-two:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/futuretwo.jpg);
  background-size: cover;
}

.header-art-menu-future-three:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/futurethree.jpg);
  background-size: cover;
}

.header-art-menu-future-four:active{
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/header/futurefour.jpg);
  background-size: cover;
}
/* HEADER ART AUTHORS CLOSE */

.header-art-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

.header-art-menu-item:hover {
  padding-top: 7px;
  padding-bottom: 10px;
  border: 2px solid #9D5CD0;
}

.header-art-menu-item:active {
  border: 2px solid #D1A9F0;
}

.simplebar-wrapper {
  width: 240px;
  max-height: 220px;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.simplebar-scrollbar {
  max-height: 28px;
  background-color: #9D5CD0;
}
/* HEADER ART SIMPLEBAR CLOSE */
/* HEADER CLOSE */

/* SECTION HERO */
.top-block {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: anim 20s alternate linear infinite;
}

@keyframes anim {
  0% {
    background-image: url(../img/hero/heropreview1.jpg);
    background-size: 100%;
  }
  25% {
    background-size: 105%;
  }
  50% {
    background-image: url(../img/hero/heropreview2.jpg);
    background-size: 100%;
  }
  75% {
    background-size: 105%;
  }
  100% {
    background-image: url(../img/hero/heropreview3.jpg);
    background-size: 100%;
  }
}

.section-hero-block {
  padding-left: 15px;
  padding-top: 70px;
  padding-bottom: 122px;
}

.hero-heading {
  display: block;
  transform: translateX(-5px);
  margin-bottom: 20px;
  max-width: 597px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;

  color: #FFFFFF;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 89px;
  max-width: 579px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  color: #FFFFFF;
}

.hero-btn {
  padding: 22.5px 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;
  border-radius: 100px;
  border: none;
  background: #9D5CD0;
  color: #FFFFFF;
}

.hero-btn:hover {
  padding: 19.5px 32px;
  border: 3px solid #D1A9F0;
}

.hero-btn:active {
  background: #7943A4;
  border: 3px solid #D1A9F0;
}

.hero-btn:focus {
  padding: 19px 32px;
  border: 2px solid #C283F3;
}
/* SECTION HERO CLOSE */
/* SECTION ABOUT US */
.section-about-us {
  padding-top: 80px;
  padding-bottom: 70px;
}

.section-heading {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;

  color: #333333;
}

.about-us-text {
  max-width: 1080px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #333333;
}
/* SECTION ABOUT US CLOSE */
/* SECTION GALLERY */
.section-gallery {
  padding: 80px 0;
  padding-bottom: 70px;
  background: url(../img/gallery/galleryback.jpg) no-repeat;
  background-size: cover;
}

.section-heading-white {
  color: #ffffff;
}

.section-gallery-double {
  display: flex;
}

.gallery-container-left {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.gallery-filter-heading {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #FFFFFF;
}

/* CUSTOM SELECT */
.choices {
  margin-bottom: auto;
}

.choices[data-type*='select-one']:after {
  content: url(../img/hero/selectnone.svg);
  border: none;
  top: 12px;
  right: 25px;
}

.choices[data-type*='select-one'] .choices__inner {
  max-width: 400px;
  padding-top: 0;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 322px;
}

.choices__inner {
  /* margin-bottom: auto; */
  min-height: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  background: none;
  color: #FFFFFF;
}

.choices__list--single {
  padding-bottom: 0;
}

.is-open .choices__inner {
  border-color: #fff;
  border-radius: 6px;
}

#choices--selectCustom-item-choice-1 {
  display: none;
}

.choices__list--dropdown {
  background: none;
  border: 1px solid #999999;
  border-radius: 6px;
  transform: translateX(-1px);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #fff;
  color: #000;
}

.choices__list--dropdown .choices__item {
  padding-top: 4px;
  padding-left: 30px;
  padding-bottom: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #999999;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}
/* CUSTOM SELECT CLOSE */

.gallery-description {
  /* padding-top: 530px; */
  max-width: 401px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #FFFFFF;
}

.gallery-description-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #9D5CD0;
}

.gallery-description-link:focus {
  border: 2px solid #7943A4;
}

.gallery-description-link:hover {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.navigation-gallery-right {
  display: flex;
  justify-content: left;
  padding-top: 25px;
  padding-left: 2px;
  margin-bottom: 28px;
}

.gallery-right-item {
  position: relative;
  margin-bottom: 4px;
}

.gallery-img-link::after {
  content: '';
  position: absolute;
  left: 25px;
  top: 25px;
  width: 300px;
  height: 300px;
  background-image: url(../img/gallery/searchmax.svg);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.gallery-img-link:hover::after {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.gallery-img-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 350px;
  background:rgba(194, 131, 243, 0.4);
  opacity: 0;
}

.gallery-img-link:active::before {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.swiper-slide {
  width: 100%;
}

.swiper-button-prev-gallery, .swiper-button-next-gallery {
  cursor: pointer;
  outline: none;
  width: 30px;
  height: 30px;
}

.swiper-button-prev-gallery {
  background: url(../img/gallery/swiperback.svg) no-repeat;
}

.swiper-button-next-gallery {
  background: url(../img/gallery/swipernext.svg) no-repeat;
}

.swiper-button-prev-gallery:hover {
  background: url(../img/gallery/btnprevhover.svg);
}

.swiper-button-next-gallery:hover {
  background: url(../img/gallery/btnnexthover.svg);
}

.swiper-button-prev-gallery:active {
  background: url(../img/gallery/btnprevactive.svg);
}

.swiper-button-next-gallery:active {
  background: url(../img/gallery/btnnextactive.svg);
}

.swiper-button-prev-gallery:focus {
  background: url(../img/gallery/btnprevfocus.svg);
}

.swiper-button-next-gallery:focus {
  background: url(../img/gallery/btnnextfocus.svg);
}

.swiper-pagination-gallery {
  padding: 0 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #FFFFFF;
}

.swiper-pagination-fraction {
  width: auto;
}

.gallery-right-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 46px;
}
/* SECTION GALLERY CLOSE */
/* SECTION CATALOG */
.section-catalog {
  padding: 80px 0;
}

.section-catalog-header {
  display: flex;
  align-items: center;
}

.section-catalog-heading {
  margin-right: 30px;
}

.catalog-language-list {
  display: flex;
}

.catalog-language-item:not(:last-child) {
  margin-right: 30px;
}

.catalog-language-item {
  display: block;
  cursor: pointer;
  width: 66px;
  height: 66px;
  transform: translateY(-5px);
}

.catalog-language-item:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog-language-france {
  background: url(../img/catalog/france.svg) no-repeat center;
}

.catalog-language-germany {
  background: url(../img/catalog/germany.svg) no-repeat center;
}

.catalog-language-italy {
  background: url(../img/catalog/italy.svg) no-repeat center;
}

.catalog-language-russia {
  background: url(../img/catalog/russia.svg) no-repeat center;
}

.catalog-language-belgium {
  background: url(../img/catalog/belgium.svg) no-repeat center;
}

.catalog-language-france:active {
  background: url(../img/catalog/franceactive.svg) no-repeat center;
}

.catalog-language-germany:active {
  background: url(../img/catalog/germanyactive.svg) no-repeat center;
}

.catalog-language-italy:active {
  background: url(../img/catalog/italyactive.svg) no-repeat center;
}

.catalog-language-russia:active {
  background: url(../img/catalog/russiaactive.svg) no-repeat center;
}

.catalog-language-belgium:active {
  background: url(../img/catalog/belgiumactive.svg) no-repeat center;
}

.catalog-language-active {
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}

.catalog-content {
  display: none;
}

.catalog-content-active {
  display: block;
}

.catalog-description {
  margin-bottom: 40px;
  max-width: 1080px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #333333;
}

.catalog-content-bottom {
  display: flex;
}

.catalog-content-left {
  display: none;
  margin-right: 50px;
}

.catalog-autor-img {
  margin-bottom: 28px;
  max-width: 750px;
}

.catalog-autor-name {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #333333;
}

.catalog-autor-date {
  display: inline-block;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #999999;
}

.catalog-autor-description {
  max-width: 749px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;

  color: #333333;
}

.catalog-left-active {
  display: block;
}

/* ACCORDION */
.catalog-dates-list {
  padding: 0;
  border-top: 1px solid #cacaca;
}

.catalog-dates {
  width: 800px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: #333333;
}

.catalog-autor-list {
  display: flex;
  flex-direction: column;
  max-height: 310px;
  flex-wrap: wrap;
}

.catalog-autor-link {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.4px;
  /* or 200% */

  color: #333333;
}

.catalog-autor-link:hover {
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.catalog-autor-link:active {
  color: #7943A4;
  border-bottom: none;
}

.catalog-autor-link:focus {
  border: 2px solid #7943A4;
}

.ui-widget-content a.catalog-author-link-active {
  color: #9D5CD0;
}

.ui-accordion .ui-accordion-header {
  margin: 0;
  padding: 0;
  outline: none;
  padding-top: 38px;
  padding-bottom: 43px;
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: #333333;
}

.ui-accordion .ui-accordion-header:hover {
  color: #9D5CD0;
  background: url(../img/catalog/cataloghover.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}


.ui-accordion .ui-accordion-header:active {
  color: #7943A4;
  background: url(../img/catalog/linetopactive.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-bottom {
  border-radius: 0;
}

.ui-state-default {
  border: none;
  border-bottom: 1px solid #cacaca;
  background: url(../img/catalog/catalogdown.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.ui-state-active {
  border: none;
  border-bottom: none;
  background: url(../img/catalog/catalogtop.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.ui-accordion .ui-accordion-content {
  padding-left: 0;
  padding-top: 25px;
  padding-bottom: 27px;
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.ui-widget-content {
  border: none;
}

.ui-icon {
  display: none;
}
/* ACOORDION CLOSE */
/* SECTION CATALOG CLOSE */

/* SECTION EVENTS */
.section-events {
  padding-bottom: 80px;
}

.events-blocks-list {
  display: flex;
  flex-wrap: wrap;
  height: 750px;
  overflow: hidden;
}

.events-blocks-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.events-blocks-item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events-blocks-bottom {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding-left: 50px;
  padding-bottom: 40px;
  padding-right: 18px;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.events-blocks-museum {
  margin-bottom: 4px;
  padding-top: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;

  color: #999999;
}

.events-blocks-name {
  margin-bottom: 4px;
  max-width: 420px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #333333;
}

.events-blocks-description {
  margin-bottom: auto;
  max-width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #333333;
}

.events-blocks-link {
  margin-right: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  border-bottom: 1px solid #9D5CD0;
  color: #9D5CD0;
}

.events-blocks-link:focus {
  border: 2px solid #7943A4;
  font-weight: normal;
  color: #9D5CD0;
}

.events-blocks-link:hover {
  font-weight: bold;
}

.events-blocks-link:active {
  font-weight: bold;
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.events-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 16px 33px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  background: none;

  color: #9D5CD0;
}

.event-btn-none {
  display: none;
}

.event-blocks-active {
  height: auto;
}

.events-btn:hover {
  background: #9D5CD0;
  color: #FFFFFF;
}

.events-btn:active {
  background: #7943A4;
  border: 3px solid #D1A9F0;
  color: #FFFFFF;
}
/* SECTION EVENTS CLOSE */

@media (max-width: 1024px) {
  /* HEADER 1024 */
  .header-container {
    padding: 28px 50px;
  }

  .logo-img {
    margin-right: 8px;
    width: 198px;
    height: 42px;
  }

  .burger {
    display: block;
    cursor: pointer;
    width: 36px;
    height: 28px;
    border: none;
    background-color: #000;
    background-image: url(../img/header/Burger.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .nav {
    flex-direction: column;
    position: absolute;
    padding-left: 30px;
    padding-top: 30px;
    z-index: 10;
    width: 320px;
    height: 350px;
    top: 100px;
    left: 0;
    bottom: 0;
    background-color: #000;
    border-radius: 0 0 20px 0;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-101%);
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav.is-active {
    transform: none;
  }

  .link-inside {
    margin-left: 0;
  }

  .search-form {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 29px;
    background-image: url(../img/header/Search.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .search-form-block {
    display: block;
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
    z-index: 20;
    top: 100px;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 60px;
    background-color: #000;
    border-radius: 0 0 20px 20px;
    transition: transform 0.4s ease-in-out;
    transform: scale(0, 0);
  }

  .search-form-block.is-active {
    transform: none;
  }

  .header-art-block {
    display: none;
  }
  /* HEADER 1024 CLOSE */
  /* SECTION HERO 1024 */
  @keyframes anim {
    0% {
      background-image: url(../img/hero/heropreview1-1024.jpg);
      background-size: 100%;
    }
    25% {
      background-size: 105%;
    }
    50% {
      background-image: url(../img/hero/heropreview2-1024.jpg);
      background-size: 100%;
    }
    75% {
      background-size: 105%;
    }
    100% {
      background-image: url(../img/hero/heropreview3-1024.jpg);
      background-size: 100%;
    }
  }

  .section-hero-block {
    padding-left: 50px;
    padding-top: 112px;
    padding-bottom: 114px;
  }

  .hero-heading {
    max-width: 585px;
    margin-bottom: 10px;
  }

  .hero-text {
    margin-bottom: 134px;
    max-width: 661px;
  }
  /* SECTION HERO 1024 CLOSE */
  /* SECTION ABOUT US 1024 */
  .section-about-us {
    padding: 80px 35px;
    padding-bottom: 70px;
  }
  .about-us-text {
    max-width: 925px;
  }
  /* SECTION ABOUT US 1024 CLOSE */
}

@media (max-width: 768px) {
  /* SECTION HERO 768 */
  @keyframes anim {
    0% {
      background-image: url(../img/hero/heropreview1-768.jpg);
      background-size: 100%;
    }
    25% {
      background-size: 105%;
    }
    50% {
      background-image: url(../img/hero/heropreview2-768.jpg);
      background-size: 100%;
    }
    75% {
      background-size: 105%;
    }
    100% {
      background-image: url(../img/hero/heropreview3-768.jpg);
      background-size: 100%;
    }
  }
  /* SECTION HERO 768 CLOSE */
}

@media (max-width: 320px) {
  /* HEADER 320 */
  .header-container {
    padding: 10px 15px;
  }

  .logo-img {
    margin-right: 3px;
    width: 97px;
    height: 22px;
  }

  .burger {
    width: 20px;
    height: 16px;
  }

  .nav {
    top: 45px;
  }

  .search-form {
    width: 16px;
    height: 16px;
  }

  .search-form-block {
    top: 45px;
  }
  /* HEADER 320 CLOSE */
  /* SECTION HERO 320 */
  @keyframes anim {
    0% {
      background-image: url(../img/hero/heropreview1mobil.jpg);
      background-size: 100%;
    }
    25% {
      background-size: 105%;
    }
    50% {
      background-image: url(../img/hero/heropreview2mobil.jpg);
      background-size: 100%;
    }
    75% {
      background-size: 105%;
    }
    100% {
      background-image: url(../img/hero/heropreview3mobil.jpg);
      background-size: 100%;
    }
  }

  .section-hero-block {
    padding-left: 30px;
    padding-top: 34px;
    padding-bottom: 45px;
  }

  .hero-heading {
    transform: none;
    margin-bottom: 15px;
    max-width: 258px;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }

  .hero-text {
    margin-bottom: 40px;
    max-width: 265px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    text-align: center;
  }

  .hero-btn {
    transform: translateX(30px);
    padding: 13px 16px 12px 19px;
    font-size: 12px;
    line-height: 16px;
  }
  /* SECTION HERO 320 CLOSE */
  /* SECTION ABOUT US 320 */
  .section-about-us {
    padding: 50px 0;
    padding-bottom: 40px;
  }

  .section-heading {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .about-us-text {
    font-size: 14px;
    line-height: 28px;
  }
  /* SECTION ABOUT US 320 CLOSE */
}




/* Placeholders */
::-webkit-input-placeholder { /* WebKit browsers */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.85);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.85);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.85);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.85);
}

.header-art-search-input:focus::-webkit-input-placeholder {
  color: transparent
}

.header-art-search-input:focus::-moz-placeholder {
  color: transparent
}

.header-art-search-input:focus:-moz-placeholder {
  color: transparent
}

.header-art-search-input:focus:-ms-input-placeholder {
  color: transparent
}
.section-editions, .section-projects, .section-contacts {
  display: none;
}

footer {
  display: none;
}
